[Unit]
Description=TabbyAPI Server - EXL2 Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/TabbyAPI
ExecStart=/opt/TabbyAPI/venv/bin/python main.py
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
